@import './variables.scss';

.edui-editor {
  line-height: 12px !important;
}

#edui_fixedlayer {
  z-index: 9999 !important;
}

.v-modal {
  z-index: 998;
}

//
//.edui-default {
//  z-index: 99999999999 !important;
//}

.table-options {
  .el-button {
    padding: 7px 7px;
  }

  .el-button + .el-button {
    margin-left: 0 !important;
  }
}

.el-tree {
}

.dialog-modal-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
}